*~
\#*
.\#*
compiled/
/doc/
/docs/
/FrosthavenManager.app/
/macOS-FrosthavenManager/
/linux-FrosthavenManager/
/windows-FrosthavenManager/
macOS-FrosthavenManager.tar.gz
linux-FrosthavenManager.tar.gz
windows-FrosthavenManager.zip
