/* DEFAULT: Extra small devices (phones) */
/* @media only screen and (max-width: 600px) { */
/* } */
details.stats-summary {
  margin-left: 1%;
  display: inline;
}

details.stats-summary[open] {
  display: block;
}

ol.monster-ability-abilities {
  list-style-type: none;
}

/* Rewards style */
.table-wrapper table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}
.table-wrapper th,
.table-wrapper td {
  border: 1px solid;
  padding: 0.5em;
}
.table-wrapper tbody tr:hover {
  background-color: powderblue;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

button {
  margin: 2px 5px;
}

#elements {
  position: sticky;
  top: 0;
  background-color: white;
  border: 2px solid lightgrey;
  padding: 8px 0px;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {

  /* https://stackoverflow.com/q/2710764 */
  html {
    /* Prevent iPhone font scaling in landscape */
    -webkit-text-size-adjust: 100%;
}

  details.stats-summary[open] {
    display: inline;
  }

  .smash-inline * {
    display: inline-block;
  }

}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
}
